html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

li a {
  color: #8f2440;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
}

nav ol {
  list-style: none;
}

img {
  width: 100%;
}

figcaption {
  font-size: 1.125rem;
  font-style: italic;
  font-family: "PT Serif", serif;
  text-align: center;
}

.time {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Serif", serif;
}

p {
  font-family: "PT Serif", serif;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "PT Serif", serif;
}

strong {
  font-weight: normal;
}

.name {
  font-size: .8rem;
}

ol li {
  font-family: "PT Serif", serif;
  list-style-type: lower-greek;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

a {
  text-decoration: none;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}
